.weather-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem;

  border-radius: 1rem;
  background: linear-gradient(180deg, #0668C2 0%, #1C0168 100%, rgba(68, 12, 158, 0) 100%), #C4C4C4;
  box-shadow: 0 0.3rem 0.3rem rgba(10,10,10,0.4);
}
